# Warm-up

간단한 코드의 예시입니다. 변경/추가해 보면서 테스트해보세요.

In [ ]:
1+1

In [ ]:
print("Hello World")

아래는 변수(variable)를 설정하는 예시입니다. 초보자 분들께서 자주 하시는 실수를 눈여겨보세요.

In [ ]:
a = 1   # 코멘트: 중간 과정을 설명해두면 소통에 도움이 됩니다
print(a)

In [ ]:
a = 1
print(A)  # <- 이러면 어떻게 될까요?

In [ ]:
# x = 1

In [ ]:
print(x)

# 1. 파이썬 vs 엑셀

In [ ]:
# 1.1 math 패키지 불러오기
import math

# 새로운 패키지 설치
# !pip install <새로운 패키지>

In [ ]:
# 1.2 [TASK] pandas 패키지 불러오기
import pandas

In [ ]:
# 1.3 엑셀 파일 불러오기
pandas.read_excel("customer.xlsx")

In [ ]:
# 1.4 패키지 이름 축약
import pandas as pd
pd.read_excel("customer.xlsx")

In [ ]:
# 1.5 변수로 저장
import pandas as pd
customer = pd.read_excel("customer.xlsx")

In [55]:
# 1.6 출력 후 확인
import pandas as pd
customer = pd.read_excel("customer.xlsx")
customer.head()

,customer_id,gender,age,region,membership_start,membership_weeks,service,contract_type,contract_status,payment_method,overdue_amount,promo_amount,billing_amount
0,1,남,71,대전,2018-09-04,302,VoIP,2년 계약,활성,신용카드,0,0,84354
1,2,여,34,경기,2018-09-02,302,유무선 통신,1년 계약,해지,신용카드,1358,2857,85565
2,3,남,26,인천,2018-09-09,301,VoIP,2년 계약,활성,은행 자동이체,0,4097,118930
3,4,남,50,광주,2018-09-15,301,유무선 통신,1년 계약,활성,은행 자동이체,0,0,52723
4,5,남,70,경기,2018-09-10,301,VoIP,2년 계약,비활성,은행 자동이체,0,4534,84119

In [ ]:
# 1.7 데이터 확인
# .head()
# .info()
# .describe()
# 위 기능 등을 확인해보세요 예를 들어..
customer.info()

참고: data.info()의 결과를 챗GPT에게 알려주면 이후 질문을 쉽게 할 수 있습니다

In [ ]:
# 1.8 열 선택
customer["service"]

참고: 비교 연산자(comparison)

* `==` (같음)
* `!=` (같지 않음)
* `<` (적음)
* `>` (큼)
* `<=` (적거나 같음)
* `>=` (크거나 같음)

In [56]:
# 1.9 필터
# 하나씩 시도해보세요
# customer[customer["contract_status"] == "활성"]
# customer[customer["age"] >= 30]
# customer[customer["age"] >= 30].reset_index(drop=True)

,customer_id,gender,age,region,membership_start,membership_weeks,service,contract_type,contract_status,payment_method,overdue_amount,promo_amount,billing_amount
0,1,남,71,대전,2018-09-04,302,VoIP,2년 계약,활성,신용카드,0,0,84354
2,3,남,26,인천,2018-09-09,301,VoIP,2년 계약,활성,은행 자동이체,0,4097,118930
3,4,남,50,광주,2018-09-15,301,유무선 통신,1년 계약,활성,은행 자동이체,0,0,52723
6,7,남,30,광주,2018-09-12,301,VoIP,1년 계약,활성,은행 자동이체,0,2540,81623
7,8,남,45,대전,2018-09-11,301,유무선 통신,2년 계약,활성,신용카드,1194,3543,99357
...,...,...,...,...,...,...,...,...,...,...,...,...,...
993,994,여,43,부산,2021-05-23,160,IPTV,1년 계약,활성,신용카드,1153,3161,80694
994,995,여,64,인천,2021-05-28,160,IPTV,2년 계약,활성,은행 자동이체,0,3644,94595
995,996,남,49,인천,2021-05-24,160,IPTV,1년 계약,활성,신용카드,1707,3082,61622
997,998,여,33,부산,2021-06-01,159,IPTV,2년 계약,활성,은행 자동이체,0,2139,70116
999,1000,남,34,울산,2021-06-04,159,VoIP,1년 계약,활성,신용카드,1119,3167,83125

In [ ]:
# [TASK] 1.10 필터
# "VoIP" 서비스만 남기려면?

# 청구 금액(billing amount) 10만원 이상 고객만 남기려면?

# 청구 금액(billing amount) 10만원 이상이면서 프로모션 할인(promo_amount)가 0인 고객만 남기려면?

In [ ]:
# 1.11 [TASK] 새로운 열 프로모션 비중(promo_percent) 만들기
customer["promo_percent"] = customer["_____"] * customer["_____"]
customer

In [ ]:
# 1.12 데이터 요약하기
customer["billing_amount"].sum()

In [ ]:
# 1.13 그룹별로 요약하기
customer.groupby("region")["billing_amount"].sum()

In [ ]:
# 1.14 [TASK] service 별로 요약하기

In [ ]:
# 1.15 여러 열을 이용해 요약하기
customer.groupby(["service", "region"])["billing_amount"].sum()

In [ ]:
# 1.16 회귀 모델 만들기
import statsmodels.api as sm

# 독립 변수(X)와 종속 변수(y) 정의
X = customer[["age", "membership_weeks"]]
y = customer["billing_amount"]

# 선형 회귀 모델 학습
linear_model = sm.OLS(y, sm.add_constant(X)).fit()
print(linear_model.summary())

In [ ]:
# 1.17 모델로 예측하기
predictions = linear_model.predict(sm.add_constant(X))    # 1. 예측을 위한 명령어
customer["billing_amount_predicted"] = predictions        # 2. 예측 결과를 별도 열에 저장
customer[["billing_amount", "billing_amount_predicted"]]  # 3. 실제와 예측을 비교

In [ ]:
# 1.18 [TASK] 결과를 엑셀 파일 "customer_modelled.xlsx" 로 출력하기
customer._____("customer_modelled.xlsx")

In [ ]:
# 1.19 시각화로 확인하기
# 참고: https://plotly.com/python/line-and-scatter/
import plotly.express as px
fig = px.scatter(customer, x="billing_amount", y="billing_amount_predicted")
fig.update_layout(width=800, height=600).show()